*{
    margin: 0;
    padding: 0;
}

.div_geral{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #EDECEC;
    margin: 0;
}

.div_imagem{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lado_direito{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_imagem{
    display: flex;
    align-items:center;
    justify-content: center;
}
  
.pipoca {
    height: 110px;
}


.homem_filme{
    height: 400px;
}
.div_inputs{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.input_self{
    display: flex;
    flex-direction: column;
}

.input_self label {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #242424;
    font-size: 18px;
    font-weight: normal;
}

.input_self input {
    height: 30px;
    width: 300px;
    border-radius: 8px;
    border-color: #dddddd;
    border-style: solid;
    background-color: #ffffff;
}

.div_botao{
    display: flex;
    justify-content: flex-end;
}


.botao_entrar{
    height: 30px;
    width: 150px;
    font-size: 15px;
    color: #ffffff;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #4F4E63;
    border-radius: 5px;
    border-style: solid;
    border-color: #73677e;
}