*{
    margin: 0;
}

.div_geral{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #EDECEC;
    margin: 0;
}
.div_inputs{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.div_imagem{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_imagem{
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: initial;
    justify-content: flex-end;
    margin: 87px 0px 0px 0px;
}

.pipoca{
    height: 120px;
    justify-content: flex-end;
}



.homem_filme{
    height: 400px;
}
